div.main {
    font-family:"Arial";
}

div.sections {
    display:none;
    margin-bottom:1.5em;
}

div.sections a {
    display:block;
    margin: 5px 0 5px 2em;
    width:99%;
    white-space:normal;
}

a.chapterlink {
   font-weight:bold;
   display:inline-block;
   width:85%;
   vertical-align:top;
   margin-left:3em;
   margin-right:-3em;
   margin-bottom: 5px;
   white-space:normal;
}

.chapterlink .tag {
   display:inline-block; 
   margin-left:-2.5em;
   white-space:nowrap;
}

div.sections a .tag {
   display:inline-block;
   margin:0 5px 0 0;
   white-space:nowrap;
}

.toc-chapter {
    margin:0.6em;
    white-space:nowrap;
    font-size:.8em;
}

.toc-epilogue {
    margin:0.6em 0.6em 0.6em -.8em;
    white-space:nowrap;
    font-size:.8em;
}

span.triangle {
   display:inline-block;
   width:1em;
}

#toc-flex-container {
   display:flex;
   flex-direction:column;
   margin-top:1.5em;
}

div.col {
   margin-right: 25px;
   margin-top:-0.5em;
   width:100%;
}

div#frontmatter {
    margin-bottom:1em;
    font-size: .8em
}

div#frontmatter .chapterlink{
    display:block;
    margin:0 0 0.5em 2em;
}

a#copyright {
   display:block;
   text-align:center;
   margin: 2em 0 1em 0;
}

#toc-controls{
   color:mediumblue;
   font-style: italic;
   text-align:center;
}

#expand-all, #collapse-all, #colswitch {
   text-decoration: underline;
   white-space:nowrap;
}

#colswitch {
    white-space:nowrap;
}

#toc-header {
    text-align:center;
    margin-top:10px
}

#toc-header #title{
    font-weight:bold;
    font-size:1.2em;
    margin-bottom:3px;
}

#toc-header #subtitle {
    font-variant:small-caps;
    font-size:1em;
    margin-bottom:5px;
}

#toc-header #authors {
    font-size:1em;
    margin-bottom:8px;
    white-space:nowrap;
}

#credits {
   display:block;
   text-align:center;
   margin: 1em 0 1em 0;
   font-style: italic;
   color:darkblue;
   font-size:.8em;
}

